/*
	THIS IS TEMP CSS. IT SHOULD BE USING A GRID
*/

.undercore-options_wrap {
	width: 780px;
	margin-top: 20px;
	background-color: white;
	border-radius:5px 5px 0 0;
}

.undercore-options_wrap * {
	box-sizing: border-box;
}

.undercore-options_wrap:after {
	content: "";
	display: table;
	clear: both;
}

.undercore-options__header {
	padding: 1em;
	border-bottom: 1px solid #eee;
}

.undercore-options__sidebar,
.undercore-options__main,
.undercore-option-control {
	float: left;
}
.undercore-option-description {
	float: right;
	width: 260px;
	margin-right: 20px;
}
.undercore-option-description p {
	font-size: 11px;
	margin-top: 0;
}

.undercore-options__main {
	width: 620px;
	border-left: 1px solid #eee;
}

.undercore-options__sidebar {
	width: 160px;

}

.undercore-options__tab {
	height: 40px;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
}


.undercore-option-wrap {
	padding: 0 0 18px 20px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}
.undercore-option-field-wrap {
	padding-bottom: 1em;
}

.undercore-option-field-wrap input[type="text"],
.undercore-option-field-wrap select{
	width: 250px;
	height: 30px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.undercore-tabs {
	margin: 24px;
}

.undercore-tabs__tabs {
	margin: 0;
}

.undercore-tabs__tab {
	display: inline-block;
	padding: 0 8px;
	text-align: center;
	border: 1px solid #eee;
	border-bottom: 0;
	margin: 0 3px 0 0;
	line-height: 24px;
	cursor: pointer;
}

.undercore-tabs__tab--active {
	background-color: #eee;
}

.undercore-tabs__content {
	border: 1px solid #eee;
	display: none;
}

.undercore-tabs__content--active {
	display: block;
}

.undercore-option-control .media-preview {
	display: none;
}
.undercore-option-control.undercore-media-active .media-preview{
	display: block;
}
.undercore-option-control .undercore-media-delete:after {
	content: "X";
}


.undercore-color-preview {
	height: 30px;
	width: 30px;
	border: 1px solid #eee;
	display: block;
	margin: 1px 0 0 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	float: right;
}

.undercore-picker-wrap input[type="text"] {
	width: 100px;
}

.undercore-picker-wrap  {}



.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../../images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../../images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../../images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../../images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../../images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../../images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../../images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../../images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../../images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../../images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../../images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}